<div>Pour des questions à propos d'une commande ou des informations sur nos produits.</div>
<br/>
<div class="depot_form">
  <fieldset>
    <legend>Envoyez un message</legend>
    <%= render 'form' %>
  </fieldset>
</div>
