<h3>Votre nouveau mot de passe sur pmac-group.com</h3>
<p>
  Cher(e) client,<br/>
  Vous nous avez demandé votre mot de passe sur vente-privee.com. Vous pouvez choisir un nouveau mot de passe via le lien suivant :
  <br/>
  <br/>
  <a class="original" href="http://<%= @hostname%>/<%=@token%>">Retour à l’identification</a>
  <br/>
  <br/>
  Pour des raisons de sécurité, vous pouvez utiliser ce lien qu'une seule fois pour composer le nouveau mot de passe. Le cas échéant, vous avez la possibilité de vous faire renvoyer le lien pour changer votre mot de passe en cliquant sur « Mot de passe oublié ? » sur notre site web.
  Si vous n'avez pas oublié votre mot de passe, merci de ne pas prendre en compte cet email.
  Nous vous remercions de votre confiance.

  Cordialement,
  PMAC GROUP
  Service des Relations Membres
</p>
<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
  <%= @token%>
</table>

//todo
// add firstname last name to user