<h3>Votre nouveau mot de passe</h3>
<p>
  Cher(e) client,<br/>
  Vous nous avez demandé votre mot de passe sur notre site. Vous pouvez choisir un nouveau mot de passe via le lien suivant :
  <br/>
  <br/>
  <a class="original" href="http://<%= @hostname%>/reset-password/<%=@token%>">Etablir un nouveau mot de passe</a>
  <br/>
  <br/>
  Pour des raisons de sécurité, vous pouvez utiliser ce lien qu'une seule fois dans les 24 heurs qui viennent pour composer le nouveau mot de passe. Le cas échéant, vous avez la possibilité de vous faire renvoyer le lien pour changer votre mot de passe en cliquant sur « Mot de passe oublié ? » sur notre site web.
  Si vous n'avez pas oublié votre mot de passe, merci de ne pas prendre en compte cet email.
  Nous vous remercions de votre confiance.
  <br/>
  <br/>
  Cordialement,<br/>
  PMAC GROUP<br/>
  Service des Relations Membres
</p>
