<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Détail utilisateur</strong></h3>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<%= link_to 'Retour', users_path, class: :"btn btn-default" %>
