<div>
  Vous recevrez sous peu un email à votre adresse <%= @email%> pour composer un nouveau mot de passe.
<br/>
  <br/>
  <%= link_to "Retour à l’identification", sessions_path, class:'original' %>
</div>

