<h4>Liste des utilisateurs</h4>

<div class="clearfix"></div>
<br>

<table class="col-xs-8 table-striped">
  <thead>
    <tr style="background-color: whitesmoke;">
      <th class="text-left">Email</th>
      <th class="text-left">Type</th>
      <th class="text-center"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-left"><%= user.login %></td>
        <td class="text-left"><%= user.user_type%></td>
        <td class="text-center"><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

