<div class="friezeBloc">
  <ul>
    <li class="first completed">
      <a href="/cart/" class="xitilink" data-xititag="Fil_ariane_panier,N">Panier</a>
    </li>
    <li class="completed">
      <a href="/cart/Delivery/" class="xitilink" data-xititag="Fil_ariane_livraison,N">Livraison</a>
    </li>
    <li class="progress">
      Récapitulatif            </li>
    <li class="">
      Paiement            </li>
    <li class="last">
      Confirmation            </li>
  </ul>
</div>


<div class="depot_form">
  <fieldset>
    <legend>Veuillez saisir vos détails</legend>
    <%= render 'form' %>
  </fieldset>
</div>
