<div id="recapitulatif" class="col-xs-12 clearfix">
<% if cart.line_items.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">PANIER VIDE</h3>
        </div>
        <div class="panel-body">
          Votre panier est actuellement vide. Vous n'avez aucune commande en cours.
        </div>
      </div>
    <a href="/">Retour à l'accueil</a>
    <div style="margin-bottom: 200px"></div>
<% else %>
      <div class="friezeBloc col-xs-12">
        <ul style="float:left" class="col-xs-10">
          <li class="first progres">
            Panier            </li>
          <li class="">
            Livraison            </li>
          <li class="">
            Récapitulatif            </li>
          <li class="">
            Paiement            </li>
          <li class="last">
            Confirmation            </li>
        </ul>
        <div style="float:right;margin-top:10px">
          <%= button_to 'Vider panier', cart, method: :delete, class: :"btn btn-default",
                        data: { confirm: 'Vous etes sur ?' } %>
        </div>

      </div>

    <div class="panel panel-default"  style="margin-top:100px">
      <div class="panel-heading">
        <h3 class="panel-title">Votre panier</h3>
      </div>
      <div class="panel-body">
        <div class="obj_table commandRecapTable">
        <table class="col-xs-12">
          <thead>
          <tr class="tableLine1">
            <th class="text-center th1">Article(s)</th>
            <th class="text-center th2">Prix unitaire</th>
            <th class="text-center th2">Quantité</th>
            <th class="text-center th2">Prix total</th>
            <th class="text-center th3"></th>
          </tr>
          </thead>
          <tbody>
           <%= render(cart.line_items) %>
          </tbody>
        </table>
        <div class="clearfix"></div>
          </div>
      </div>
      <div class="panel-footer">
        <div>
          <span style="display: inline-block;margin-right:50px"><strong>Total</strong></span><%= number_to_currency(cart.total_price, unit: "", separator: ",", delimiter: " ") %>€
        </div>
      </div>
    </div>
    <div style="float:right">
      <%= button_to "Continuer", preorder_livraison_path, class: :"btn btn-primary", method: :get %>
    </div>
<% end %>
</div>

<% content_for :js do %>
    <script type="text/javascript">
        $(function(){
            $('#recapitulatif tr.line-item').click(function(){
                $detailLine = $(this).next().toggleClass('hidden');
            });

            $('#recapitulatif button.delete').on('click', function(){
                var $this = $(this);
                var id = $(this).data('id');
                $.ajax({
                    method:"delete",
                    url:"/line_items/" + id + '.json'
                }).done(function(data){
                    $this.closest('tr.line').remove();
                    $this.closest('tr.line').next().remove();
                }).fail(function(){
                    console.log('echec');
                });
            });
        })
    </script>
<% end %>