<% provide(:title,'Panier') %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<!-- START_HIGHLIGHT -->
<% unless @cart.nil? %>
    <%= render @cart %>
<%end%>

<!-- END_HIGHLIGHT -->

