@import "bootstrap.custom";
@import "variables";

body{
  background: url("bg.png") repeat scroll center center #FFFFFF;
  color: #767676;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 15px;
}

#header{
  height:120px;
  width:100%;
  text-align: center;
  margin-bottom:0;

}
#main{
  margin-top: 20px;
}

ul.non-style{
  list-style-type:none;
}

#menu{
  &.container {
    padding-left:17px;
    padding-right: 30px !important;
    &.navbar{
        background-color: #E5322D;
        border-color: #FF0000;
    }
    >.navbar-collapse{
      padding-left:0;
      padding-right:0;
    }
  }
  #navbar{
    position:relative;
    >li{
      >a{
        font-weight: bold;
        color:#fff;
        &:hover{
          background-color: #808080;
        }
      }
      >.sub-menu{
        z-index: 99;
        position:absolute;
        width:800px;
        padding-left:0;
        >li{
          background-color: #fff;
          width:250px;
          height:auto;
          float:left;
          border: 1px solid #000;
          border-left:0;
          &:first-child{
            border-left:1px solid #000;
          }
        }
      }
    }
  }
}

.bordered.black{
  border:1px solid #000;
}

#total-price{
  position:fixed;
  top:200px;
}
a.original{
  color: #428BCA !important;
  text-decoration: underline !important;
}
#deconnecte{
  color:#999999;
  padding:15px;
}
#deconnecte:hover,
#deconnecte:focus
{
  color:#fff;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
     background-color: #88c1e5 !important;
     color:#fff !important;
}

.sidebar .bloc {
  background-color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 0 0 10px #888888;
  color: #000000;
  margin: 0 1em 1.1em 0;
  overflow: hidden;
  padding: 1px 0;
  >.title {
    background-color: #E5322D;
    color:#fff;
    background-repeat: repeat-x;
    border-bottom: 1px solid #C6C3C6;
    display: block;
    font-weight: bold;
    line-height: 30px;
    padding-left: 15px;
    pointer-events: none;
  }
}
.carousel-control{
  background-image: none !important;
}
a.carousel-control:hover{
    background-color:transparent !important;
}
#footer{
  margin-top: 20px;
/*  background-color:#DCDDE0;*/
  padding:50px;
  padding-top:20px;
  height:250px;
  >div.contact{
    width:20%;
    float: left;
    height:250px;
    a.contact{
      color:deepskyblue !important;
      font-size:16px;
      &:hover{
        background-color: transparent;
      }
    }
  }
  >div.partenaire{
    height:250px;
    float: right;
    width:80%;
    ul{
      list-style-type: none !important;
      >li{
        float:left;
        height:100px;
        text-align: center;
        line-height: 100px;
      }
      &.first{
        li{
          >img{
            width:300px !important;
          }
        }
      }
      &.second{
        li{
          >img{
            width:250px !important;
          }
        }
      }
    }

  }
}

#accessoire{
  margin-top:20px;
  .img{
    float: left;
/*    width:240px;
    height:180px;*/
    background-repeat: no-repeat;
    &.poigner{
      background-image: url( menpvc_secustik.jpg);

    }
  }
  .description{
    .title {
      a{
        background: transparent;
        .btn-link{
          font-size: 12px !important;
        }
      }

    }
  }

}

.panel-default > .panel-heading {
  background-color: #1D2A35;
  color:white;
  a:hover{
    background: transparent;
  }
}



/**
 * EasyZoom core styles
 */

.easyzoom {
  position: relative;

  /* 'Shrink-wrap' the element */
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.easyzoom img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom.is-ready img {
  cursor: crosshair;
}

.easyzoom.is-error  img {
  cursor: not-allowed;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #FFF;
  box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
  position:absolute;
  z-index: 100;
  overflow: hidden;
  background: #FFF;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}
ul{
  list-style-type: none;
}
.store.color-list{
  li{
    padding:10px 10px;
    .content{
        box-shadow: 2px 2px 5px #888888;
        img{
          width:170px;
        }
        .infos-produit {
          text-align: center;
          background-color: #A9A9A9;
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }
  }
}

.friezeBloc{
  float: left;
  vertical-align: top;
  ul {
    text-align: center;
    font-size: 1px;
    letter-spacing: -1px;
    word-spacing: -1px;

    li{
      display: inline-block;
      width: 120px;
      height: 30px;
      font-size: 12px;
      background: url(bsk_friezeGen.png) center bottom no-repeat;
      color: #aaa;
      font-weight: 700;
      letter-spacing: normal;
      word-spacing: normal;
      &.first{
        background-image: url(bsk_friezeLeft.png);
        &.progres {
          background-image: url(bsk_friezeLeftProgress.png);
        }
        &.completed {
          background-image: url(bsk_friezeLeftCompleted.png);
        }
      }
      &.progres {
        color: #f21e8c;
        background-image: url(bsk_friezeGenProgress.png);
      }
      &.completed {
        background-image: url(bsk_friezeCompleted.png);
      }
      &.last {
        background-image: url(bsk_friezeRight.png);
        &.progres {
          background-image: url(bsk_friezeRightProgress.png);
        }
      }
    }
  }
}
span.delete{
  color:black;
}














