@import "bootstrap.custom";
@import "variables";

body{
  background: url("bg.png") repeat scroll center center #FFFFFF;
  color: #767676;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 15px;
}

#header{
  height:120px;
  width:100%;
  text-align: center;
  margin-bottom:0;

}
#main{
  margin-top: 20px;
}

ul.non-style{
  list-style-type:none;
}

#menu{
  &.container {
    padding-left:17px;
    padding-right: 30px !important;
    &.navbar{
        background-color: #E5322D;
        border-color: #FF0000;
    }
    >.navbar-collapse{
      padding-left:0;
      padding-right:0;
    }
  }
  #navbar{
    position:relative;
    >li{
      >a{
        font-weight: bold;
        color:#fff;
        &:hover{
          background-color: #808080;
        }
      }
      >.sub-menu{
        z-index: 99;
        position:absolute;
        width:800px;
        padding-left:0;
        >li{
          background-color: #fff;
          width:250px;
          height:auto;
          float:left;
          border: 1px solid #000;
          border-left:0;
          &:first-child{
            border-left:1px solid #000;
          }
        }
      }
    }
  }
}

.bordered.black{
  border:1px solid #000;
}

#total-price{
  position:fixed;
  top:200px;
}
a.original{
  color: #428BCA !important;
  text-decoration: underline !important;
}
#deconnecte{
  color:#999999;
  padding:15px;
}
#deconnecte:hover,
#deconnecte:focus
{
  color:#fff;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
     background-color: #88c1e5 !important;
     color:#fff !important;
}

.sidebar .bloc {
  background-color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 0 0 10px #888888;
  color: #000000;
  margin: 0 1em 1.1em 0;
  overflow: hidden;
  padding: 1px 0;
  >.title {
    background-color: #E5322D;
    color:#fff;
    background-repeat: repeat-x;
    border-bottom: 1px solid #C6C3C6;
    display: block;
    font-weight: bold;
    line-height: 30px;
    padding-left: 15px;
    pointer-events: none;
  }
}
.carousel-control{
  background-image: none !important;
}
a.carousel-control:hover{
    background-color:transparent !important;
}
#footer{
  margin-top: 20px;
/*  background-color:#DCDDE0;*/
  padding:50px;
  padding-top:20px;
  height:250px;
  >div.contact{
    width:20%;
    float: left;
    height:250px;
    a.contact{
      color:deepskyblue !important;
      font-size:16px;
      &:hover{
        background-color: transparent;
      }
    }
  }
  >div.partenaire{
    height:250px;
    float: right;
    width:80%;
    ul{
      list-style-type: none !important;
      >li{
        float:left;
        height:100px;
        text-align: center;
        line-height: 100px;
      }
      &.first{
        li{
          >img{
            width:300px !important;
          }
        }
      }
      &.second{
        li{
          >img{
            width:250px !important;
          }
        }
      }
    }

  }
}

#accessoire{
  margin-top:20px;
  .img{
    float: left;
/*    width:240px;
    height:180px;*/
    background-repeat: no-repeat;
    &.poigner{
      background-image: url( menpvc_secustik.jpg);

    }
  }
  .description{
    .title {
      a{
        background: transparent;
        .btn-link{
          font-size: 12px !important;
        }
      }

    }
  }

}

.panel-default > .panel-heading {
  background-color: #1D2A35;
  color:white;
  a:hover{
    background: transparent;
  }
}



/**
 * EasyZoom core styles
 */

.easyzoom {
  position: relative;

  /* 'Shrink-wrap' the element */
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.easyzoom img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom.is-ready img {
  cursor: crosshair;
}

.easyzoom.is-error  img {
  cursor: not-allowed;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #FFF;
  box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
  position:absolute;
  z-index: 100;
  overflow: hidden;
  background: #FFF;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}
ul{
  list-style-type: none;
}
.store.color-list{
  li{
    padding:10px 10px;
    .content{
        box-shadow: 2px 2px 5px #888888;
        img{
          width:170px;
        }
        .infos-produit {
          text-align: center;
          background-color: #A9A9A9;
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }
  }
}

.friezeBloc{
  float: left;
  vertical-align: top;
  ul {
    text-align: center;
    font-size: 1px;
    letter-spacing: -1px;
    word-spacing: -1px;

    li{
      display: inline-block;
      width: 120px;
      height: 30px;
      font-size: 12px;
      background: url(bsk_friezeGen.png) center bottom no-repeat;
      color: #aaa;
      font-weight: 700;
      letter-spacing: normal;
      word-spacing: normal;
      &.first{
        background-image: url(bsk_friezeLeft.png);
        &.progres {
          background-image: url(bsk_friezeLeftProgress.png);
        }
        &.completed {
          background-image: url(bsk_friezeLeftCompleted.png);
        }
      }
      &.progres {
        color: #f21e8c;
        background-image: url(bsk_friezeGenProgress.png);
      }
      &.completed {
        background-image: url(bsk_friezeCompleted.png);
      }
      &.last {
        background-image: url(bsk_friezeRight.png);
        &.progres {
          background-image: url(bsk_friezeRightProgress.png);
        }
      }
    }
  }
}
span.delete{
  color:black;
}


/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/

// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 3px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #1D2A35;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
$breakpoint: $table-breakpoint,
$background-color: $table-background-color,
$text-color: $table-text-color,
$outer-border: $table-outer-border,
$cell-border: $table-cell-border,
$border-radius: none,
$highlight-color: none,
$header-background-color: $table-background-color,
$header-text-color: $table-text-color,
$header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      text-align: center;
      &:first-child { // show the first table header for mobile
        display: table-cell;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      text-align: center;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
$border-radius: $table-border-radius,
$highlight-color: $table-highlight-color,
$header-background-color: $table-header-background-color,
$header-text-color: $table-header-text-color,
$header-border: $table-header-border);

// General styles

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}

/******/
.obj_table {
  border: 1px solid #e7e6e4;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  padding: 4px 0;
}

.commandRecapTable {
  padding-bottom: 4px;
}
.obj_table {
  padding: 4px 0 0;
}

.obj_table table {
  width: 100%;
}
table, tr, td, th {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
table, tr, td, th {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.obj_table thead .th1 {
  background: #f0efee url(gen_table_headLeft.gif) left top no-repeat;
}

.commandRecapTable thead .th3 {
  background: #f0efee url(gen_table_headRight.gif) right top no-repeat;
}

.commandRecapTable thead th {
  text-align: center;
}
.obj_table thead th {
  padding-left: 10px;
  text-align: left;
}
.obj_table thead th {
  text-align: center;
  background: #f0efee;
  font-size: .95em;
  font-weight: 400;
  padding: 10px 0 8px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.obj_table tbody td {
  border-top: 1px solid #e7e6e4;
  border-bottom: 0;
  font-size: .95em;
}
.obj_table tbody td {
  border-bottom: 1px solid #e7e6e4;
  padding: 7px 11px;
}

.commandRecapTable tbody td {
  text-align: center;
}

.commandRecapTable tbody .td1 {
  text-align: left;
}

.obj_table tbody tr:first-child td {
  border-top: 0;
}

.commandRecapTable tbody .td1 div {
  margin: 5px 25px 12px 67px;
}





.obj_table_details {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #dcd0d2;
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  margin: 0 0 10px;
  text-align: left;
  width: 100%;
}

.obj_table_details thead {
  font-size: 11px;
  line-height: 11px;
}

.obj_table_details th, .obj_table td {
  padding: 0 10px;
  text-align: center;
}

.obj_table_details thead .tableLine1 th {
  background: url("gen_table_thead_bg.gif") repeat-x scroll left bottom #d5c8ca;
}

.obj_table_details thead .tableLine1 th {
  border-bottom: 1px solid #d5c8ca;
  border-left: 1px solid #faf7f8;
  color: #202020;
  font-weight: bold;
  height: 24px;
}

.obj_table_details thead .tableLine1 th.th1 {
  border-left: 0 none;
}

.obj_table_details tbody {
  font-size: 12px;
}

.obj_table_details tbody td {
  padding: 3px 10px;
  text-align: left;
  vertical-align: top;
}

.obj_table_details tbody tr td {
  background-color: #fbf7f8;
  border-bottom: 1px solid #dcd0d2;
  height: 25px;
}











