<div class="friezeBloc col-xs-12">
  <ul>
    <li class="first completed">
      Panier
    </li>
    <li class="completed">
      Livraison</li>
    <li class="completed">
      Paiement            </li>
    <li class="last progres">
      Confirmation            </li>
  </ul>
</div>

<a class="btn btn-link" href="/">Retour à l'acceuil</a>
