<div class="friezeBloc col-xs-12">
  <ul>
    <li class="first completed">
      <a href="/show-cart/">Panier</a>
    </li>
    <li class="progres">
      Livraison            </li>
    <li class="">
      Récapitulatif            </li>
    <li class="">
      Paiement            </li>
    <li class="last">
      Confirmation            </li>
  </ul>
</div>
