<div class="friezeBloc col-xs-12">
  <ul>
    <li class="first completed">
      <a href="/show-cart/">Panier</a>
    </li>
    <li class="completed">
      <a href="/preorder/livraison/">Livraison</a>   </li>
    <li class="progres">
      Paiement            </li>
    <li class="last">
      Confirmation            </li>
  </ul>
</div>

<div style="float:right">
  <%= button_to "Continuer", "/orders", class: :"btn btn-primary", method: :post %>
</div>

