<% provide(:title,'Configurateur') %>

  <div id="configurator">
    <div class="panel-group" id="accordion">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#type-pose">
              Type de pose
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse in"  id="type-pose">
          <div class="panel-body">
            <div class="col-md-6">
              <div class="easyzoom easyzoom--adjacent" style="">
                <a href="/assets/pvc-pose-renovation.png">
                  <img src="/assets/pvc-pose-renovation.png" width="200px" height="250px">
                </a>
              </div>
              <div style="font-weight:bold;font-size:15px;">
                <label><input type="radio" name="type_repose" value="Pose en renovation sur dormant existant" data-bind="checked: $root.results.typeRepose" />&nbsp;Pose en renovation sur dormant existant</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="easyzoom easyzoom--adjacent" style="">
                <a href="/assets/pvc-pose-neuf-titanium.png">
                  <img src="/assets/pvc-pose-neuf-titanium.png" width="200px" height="250px">
                </a>
              </div>
              <div style="font-weight:bold;font-size:15px;">
                <label><input type="radio" name="type_repose" value="Pose neuf en dormant 60mm" data-bind="checked: $root.results.typeRepose"/>&nbsp;Pose neuf en dormant 60mm</label>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <label>Gamme</label>
            <table>
              <tr>
                <td>
                  <input style="float:left" name="gamme" type="radio" value="Gamme 54 mm" data-bind="checked: $root.results.gamme">
                </td>
                <td>
                  <span style="display: inline-block;font-weight: bold">Gamme 54 mm</span>
                  <span style="display: inline-block">serie froide</span>
                </td>
              </tr>
              <tr>
                <td>
                  <input style="float:left" name="gamme" type="radio" value="Gamme 65 mm" data-bind="checked: $root.results.gamme">
                </td>
                <td class="">
                  <span style="display: inline-block;font-weight: bold">Gamme 65 mm</span>
                  <span style="display: inline-block">rupture point thérmique</span>
                </td>
              </tr>
            </table>
          </div>
          <div class="panel-body">
            <label>Habillage extérieur</label> <br>
            <input type="radio" value="Aucun" data-bind="checked:results.habillage">&nbsp;Aucun  &nbsp;&nbsp;
            <input type="radio" value="Cornières L 40x40" data-bind="checked:results.habillage">&nbsp;Cornières L 40x40
          </div>
          <div class="panel-body">
            <label>Grille de ventilation</label> <br>
            <input type="radio" value="Aucun" data-bind="checked:results.ventilation">&nbsp;Aucun  &nbsp;&nbsp;
            <input type="radio" value="Grille de ventilation 15-22-30 m3"  data-bind="checked:results.ventilation">&nbsp;Grille de ventilation 15-22-30 m3
          </div>
        </div>
      </div>


      <div class="panel panel-default"> <!--coloris-->
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#coloris">
              Coloris
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse"  id="coloris">
          <ul class="panel-body" data-bind="foreach:data.colors">
            <li style="float:left;width:220px;height:100px"><label>
              <input type="radio" name="coloris" data-bind="checked: $root.results.coloris, value:code">
              <img class="bordered black" data-bind="attr:{src:imageUrl,width:47, height:47}"/><br/>
              <span data-bind="text:name" style="display: inline-block;text-align: left;width:140px"></span>
            </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default"> <!--Allège et Imposte-->
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#allege-imposte">
              Allège et Imposte
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse"  id="allege-imposte">
          <div class="panel-body">
            <label>Imposte</label><br><br>
            <div style="padding-left: 20px">
              <label>Type de châssis</label>  <br/>
              <label>
                <input type="radio" value="Aucun" name="imposte_type_chassis" data-bind="checked: $root.results.imposteTypeChassis">
                <span>&nbsp;Aucun&nbsp;&nbsp;</span>
              </label>
              <label>
                <input type="radio" value="Fixe" name="imposte_type_chassis" data-bind="checked: $root.results.imposteTypeChassis">
                <span>&nbsp;Fixe&nbsp;&nbsp;</span>
              </label>
              <label>
                <input type="radio" value="Soufflet" name="imposte_type_chassis" data-bind="checked: $root.results.imposteTypeChassis">
                <span>&nbsp;Soufflet&nbsp;&nbsp;</span>
              </label>
            </div>

            <!-- ko if: ($root.results.imposteTypeChassis() !== 'Aucun') -->
            <br/>
            <div style="padding-left: 20px">
              <label>Hauteur (mm)</label>&nbsp;&nbsp;
              <input type="text" data-bind="value:results.imposteHauteur">
            </div>
            <br/>
            <div style="padding-left: 20px">
              <label>Largeur</label>  <br/>
              <label>
                <input type="radio" name="imposte_largeur" value="Chassis principal" data-bind="checked: $root.results.imposteLargeur">
                <span>&nbsp;Chassis principal&nbsp;&nbsp;</span>
              </label>
              <label>
                <input type="radio" name="imposte_largeur" value="Toute la largeur" data-bind="checked: $root.results.imposteLargeur">
                <span>&nbsp;Toute la largeur&nbsp;&nbsp;</span>
              </label>
            </div>
            <br/>
            <div style="padding-left: 20px">
              <label>Type de vitrage</label>  <br/>
              <ul data-bind="foreach:data.imposteAllegeTypeVitrage" class="col-sm-12">
                <li class="col-sm-6" style="float:left;height:150px">
                  <table>
                    <tr>
                      <td class="col-sm-2">
                        <img style="float:left" class="bordered black" data-bind="attr:{src:imageUrl,width:100, height:100}"/>
                      </td>
                      <td>
                        <input style="float:left" type="radio" name="imposteTypeVitrage" data-bind="checked: $root.results.typeVitrage, value:code">
                      </td>
                      <td class="col-sm-10">
                        <span data-bind="text:title" style="display: inline-block;font-weight: bold"></span>
                        <span data-bind="text:subtitle" style="display: inline-block"></span>
                      </td>
                    </tr>
                  </table>
                </li>
              </ul>
            </div>
            <br/>
            <div style="padding-left: 20px">
              <label>Décor</label><br/>
              <ul data-bind="foreach:data.imposteAllegeDecors" class="col-sm-12">
                <li class="col-sm-6" style="float:left;height:150px">
                  <table>
                    <tr>
                      <td class="col-sm-2">
                        <img style="float:left" class="bordered black" data-bind="attr:{src:imageUrl,width:100, height:100}"/>
                      </td>
                      <td>
                        <input style="float:left" type="radio" name="imposteDecor" data-bind="checked: $root.results.decor, value:code">
                      </td>
                      <td class="col-sm-10">
                        <span data-bind="text:title" style="display: inline-block;font-weight: bold"></span>
                        <span data-bind="text:subtitle" style="display: inline-block"></span>
                      </td>
                    </tr>
                  </table>
                </li>
              </ul>
            </div>
            <!-- /ko -->
          </div>
          <div class="panel-body">
            <label>Allège</label><br>
            <div style="padding-left: 20px">
              <label>Type de châssis</label>  <br/>
              <label>
                <input type="radio" value="Aucun" name="allege_type_chassis" data-bind="checked: $root.results.allegeTypeChassis">
                <span>&nbsp;Aucun&nbsp;&nbsp;</span>
              </label>
              <label>
                <input type="radio" value="Fixe" name="allege_type_chassis" data-bind="checked: $root.results.allegeTypeChassis">
                <span>&nbsp;Fixe&nbsp;&nbsp;</span>
              </label>
            </div>

            <!-- ko if: ($root.results.allegeTypeChassis() !== 'Aucun') -->
            <br/>
            <div style="padding-left: 20px">
              <label>Hauteur (mm)</label>&nbsp;&nbsp;
              <input type="text" data-bind="value:results.allegeHauteur">
            </div>
            <br/>
            <div style="padding-left: 20px">
              <label>Largeur</label>  <br/>
              <label>
                <input type="radio" name="allege_largeur" value="Chassis principal" data-bind="checked: $root.results.allegeLargeur">
                <span>&nbsp;Chassis principal&nbsp;&nbsp;</span>
              </label>
              <label>
                <input type="radio" name="allege_largeur" value="Toute la largeur" data-bind="checked: $root.results.allegeLargeur">
                <span>&nbsp;Toute la largeur&nbsp;&nbsp;</span>
              </label>
            </div>
            <br/>
            <div style="padding-left: 20px">
              <label>Type de vitrage</label>  <br/>
              <ul data-bind="foreach:data.imposteAllegeTypeVitrage" class="col-sm-12">
                <li class="col-sm-6" style="float:left;height:150px">
                  <table>
                    <tr>
                      <td class="col-sm-2">
                        <img style="float:left" class="bordered black" data-bind="attr:{src:imageUrl,width:100, height:100}"/>
                      </td>
                      <td>
                        <input style="float:left" type="radio" name="allegeTypeVitrage" data-bind="checked: $root.results.typeVitrage, value:code">
                      </td>
                      <td class="col-sm-10">
                        <span data-bind="text:title" style="display: inline-block;font-weight: bold"></span>
                        <span data-bind="text:subtitle" style="display: inline-block"></span>
                      </td>
                    </tr>
                  </table>
                </li>
              </ul>
            </div>
            <br/>
            <div style="padding-left: 20px">
              <label>Décor</label><br/>
              <ul data-bind="foreach:data.imposteAllegeDecors" class="col-sm-12">
                <li class="col-sm-6" style="float:left;height:150px">
                  <table>
                    <tr>
                      <td class="col-sm-2">
                        <img style="float:left" class="bordered black" data-bind="attr:{src:imageUrl,width:100, height:100}"/>
                      </td>
                      <td>
                        <input style="float:left" type="radio" name="allegeDecor" data-bind="checked: $root.results.decor, value:code">
                      </td>
                      <td class="col-sm-10">
                        <span data-bind="text:title" style="display: inline-block;font-weight: bold"></span>
                        <span data-bind="text:subtitle" style="display: inline-block"></span>
                      </td>
                    </tr>
                  </table>
                </li>
              </ul>
            </div>
            <!-- /ko -->
          </div>
        </div>
      </div>



      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#petit-bois">
              Petits-bois
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse"  id="petit-bois">
          <div class="panel-body">
            <label>Petits-bois</label>
            <ul class="col-sm-12">
              <li class="col-sm-6">
                <table>
                  <tr>
                    <td class="col-sm-2">
                      <img style="float:left" class="bordered black" src="http://www.voletshop.fr/configurateurs/images_listes/MENPVC_PBTYPE_SANS.jpg"/>
                    </td>
                    <td>
                      <input style="float:left" type="radio" name="petit-bois" value="Sans petit-bois" data-bind="checked: $root.results.petitbois">
                    </td>
                    <td class="col-sm-10">
                      <span style="display: inline-block;font-weight: bold">Sans petit-bois</span>
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td class="col-sm-2">
                      <img style="float:left" class="bordered black" src="http://www.voletshop.fr/configurateurs/images_listes/MENPVC_PBTYPE_PB26.jpg"/>
                    </td>
                    <td>
                      <input style="float:left" type="radio" name="petit-bois" value="Petits bois ALU laqués blanc 28x8" data-bind="checked: $root.results.petitbois">
                    </td>
                    <td class="col-sm-10">
                      <span style="display: inline-block;font-weight: bold">Petits bois ALU laqués blanc 26x8</span>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
          <!-- ko if: ('Sans petit-bois' !== $root.results.petitbois()) -->
          <div class="panel-body">
            <div class="col-sm-4">
              <label>Nombre PB</label>
              <ul>
                <li>
                  <input type="radio" name="nbrPB" value="Automatique" data-bind="checked: $root.results.nbrPB">
                  <span>Automatique</span>
                </li>
                <li>
                  <input type="radio" name="nbrPB" value="Saisie libre" data-bind="checked: $root.results.nbrPB">
                  <span>Saisie libre</span>
                </li>
              </ul>
            </div>

            <!-- ko if: ('Saisie libre' === $root.results.nbrPB()) -->
            <div class="col-sm-4">
              <label>PBH</label>
              <ul>
                <li>
                  <input type="text"  data-bind="value: $root.results.PBH">
                  <span>Nombre de petits-bois horizontaux</span>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <label>PBV</label>
              <ul>
                <li>
                  <input type="text"  data-bind="value: $root.results.PBV">
                  <span>Nombre de petits-bois verticaux</span>
                </li>
              </ul>
            </div>
            <!-- /ko -->
          </div>
          <!-- /ko -->
        </div>
      </div>






      <!--<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#profile">
            Profilé
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse in"  id="profile">
        <div class="panel-body">
          <label>Profilé</label>
          <ul>
            <li>
              <label>
                <input type="radio" name="type_chassis" value="Profilé serie froide" data-bind="checked: $root.results.typeProfile">
                <span>Profilé serie froide</span>
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="type_chassis" value="Profilé rupture pont thérmique" data-bind="checked: $root.results.typeProfile">
                <span>Profilé rupture pont thérmique</span>
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="type_chassis" value="Coulissant" data-bind="checked: $root.results.typeProfile">
                <span>Coulissant</span>
              </label>
            </li>
          </ul>
        </div>

        &lt;!&ndash; ko if: ($root.results.typeProfile()) &ndash;&gt;
        <div class="panel-body">
          <label>Type de pose</label>  <br/><br/>
          &lt;!&ndash; ko if: ( 'Profilé serie froide'=== $root.results.typeProfile()) &ndash;&gt;
          <div class="easyzoom easyzoom--adjacent" style="float:left">
            <a href="/assets/pvc-pose-renovation.png">
              <img src="/assets/pvc-pose-renovation.png" width="200px" height="250px">
            </a>
          </div>
          <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
            <label><input type="radio" name="type_repose" value="Pose en renovation sur dormant existant" data-bind="checked: $root.results.typeRepose" />&nbsp;Pose en renovation sur dormant existant</label>
          </div>
          <hr>
          <div class="easyzoom easyzoom--adjacent" style="float:left">
            <a href="/assets/pvc-pose-neuf-titanium.png">
              <img src="/assets/pvc-pose-neuf-titanium.png" width="200px" height="250px">
            </a>
          </div>
          <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
            <label><input type="radio" name="type_repose" value="Pose neuf" data-bind="checked: $root.results.typeRepose"/>&nbsp;Pose neuf</label>
          </div>
          &lt;!&ndash; /ko &ndash;&gt;

          &lt;!&ndash; ko if: ( 'Profilé rupture pont thérmique'=== $root.results.typeProfile()) &ndash;&gt;
          <div class="easyzoom easyzoom--adjacent" style="float:left">
            <a href="/assets/pvc-pose-renovation.png">
              <img src="/assets/pvc-pose-renovation.png" width="200px" height="250px">
            </a>
          </div>
          <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
            <label><input type="radio" name="type_repose" value="Pose en renovation sur dormant existant" data-bind="checked: $root.results.typeRepose" />&nbsp;Pose en renovation sur dormant existant</label>
          </div>
          <hr>
          <div class="easyzoom easyzoom--adjacent" style="float:left">
            <a href="/assets/pvc-pose-neuf-titanium.png">
              <img src="/assets/pvc-pose-neuf-titanium.png" width="200px" height="250px">
            </a>
          </div>
          <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
            <label><input type="radio" name="type_repose" value="Pose neuf" data-bind="checked: $root.results.typeRepose"/>&nbsp;Pose neuf</label>
          </div>
          &lt;!&ndash; /ko &ndash;&gt;

          &lt;!&ndash; ko if: ( 'Coulissant'=== $root.results.typeProfile()) &ndash;&gt;
          <div class="easyzoom easyzoom--adjacent" style="float:left">
            <a href="/assets/pvc-pose-renovation.png">
              <img src="/assets/pvc-pose-renovation.png" width="200px" height="250px">
            </a>
          </div>
          <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
            <label><input type="radio" name="type_repose" value="Pose en renovation sur dormant existant" data-bind="checked: $root.results.typeRepose" />&nbsp;Pose en renovation sur dormant existant</label>
          </div>
          <hr>
          <div class="easyzoom easyzoom--adjacent" style="float:left">
            <a href="/assets/pvc-pose-neuf-titanium.png">
              <img src="/assets/pvc-pose-neuf-titanium.png" width="200px" height="250px">
            </a>
          </div>
          <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
            <label><input type="radio" name="type_repose" value="Pose neuf" data-bind="checked: $root.results.typeRepose"/>&nbsp;Pose neuf</label>
          </div>
          &lt;!&ndash; /ko &ndash;&gt;
        </div>
        &lt;!&ndash; /ko &ndash;&gt;
      </div>
    </div>-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#vitrage">
              Vitrage
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="vitrage">
          <div class="panel-body">
            <label>Type de vitrage</label>
            <ul data-bind="foreach:data.typeVitrage" class="col-sm-12">
              <li class="col-sm-6" style="float:left;height:150px">
                <table>
                  <tr>
                    <td class="col-sm-2">
                      <img style="float:left" class="bordered black" data-bind="attr:{src:imageUrl,width:100, height:100}"/>
                    </td>
                    <td>
                      <input style="float:left" type="radio" name="typeVitrage" data-bind="checked: $root.results.typeVitrage, value:code">
                    </td>
                    <td class="col-sm-10">
                      <span data-bind="text:title" style="display: inline-block;font-weight: bold"></span>
                      <span data-bind="text:subtitle" style="display: inline-block"></span>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
          <div class="panel-body">
            <label>Décor</label>
            <ul data-bind="foreach:data.decors" class="col-sm-12">
              <li class="col-sm-6" style="float:left;height:150px">
                <table>
                  <tr>
                    <td class="col-sm-2">
                      <img style="float:left" class="bordered black" data-bind="attr:{src:imageUrl,width:100, height:100}"/>
                    </td>
                    <td>
                      <input style="float:left" type="radio" name="decor" data-bind="checked: $root.results.decor, value:code">
                    </td>
                    <td class="col-sm-10">
                      <span data-bind="text:title" style="display: inline-block;font-weight: bold"></span>
                      <span data-bind="text:subtitle" style="display: inline-block"></span>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#ouverture">
              Ouverture
            </a>
          </h4>
        </div>
       <div class="panel-collapse collapse"  id="ouverture">
         <div class="panel-body">
           <label>Type de châssis</label>
           <br/>
           <ul style="float:left">
             <li>
                <label>
                    <input type="radio" name="type_chassis" value="Deux vantaux" data-bind="checked: $root.results.typeChassis">
                    <span>Deux vantaux</span>
                </label>
             </li>
             <li>
             <label>
               <input type="radio" name="type_chassis" value="Trois vantaux sur trois rails" data-bind="checked: $root.results.typeChassis">
               <span>Trois vantaux sur trois rails</span>
             </label>
            </li>
             <li>
               <label>
                 <input type="radio" name="type_chassis" value="Trois vantaux sur trois rails" data-bind="checked: $root.results.typeChassis">
                 <span>Quatre vantaux sur deux rails</span>
               </label>
             </li>
           </ul>
           <div style="float:right;margin-right: 200px;">
             <!-- ko if: ( 'deux_vantaux'=== $root.results.typeChassis()) -->
             <img src="/assets/pvc-pose-renovation.png" width="200px" height="250px">
             <!-- /ko -->
             <!-- ko if: ( 'trois_vantaux'=== $root.results.typeChassis()) -->
             <img src="/assets/pvc-pose-renovation.png" width="200px" height="250px">
             <!-- /ko -->
             <!-- ko if: ( 'quatre_vantaux'=== $root.results.typeChassis()) -->
             <img src="/assets/pvc-pose-renovation.png" width="200px" height="250px">
             <!-- /ko -->
           </div>

         </div>
      </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#dimension">
              Dimension
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="dimension">
          <label class="col-xs-4">Largeur totale en mm: <input type="text" class="form-control" data-bind="value: $root.results.width">
            <span data-bind="text:$root.range.width.left"></span> - <span data-bind="text:$root.range.width.right"></span>
          </label>
          <label class="col-xs-4">Hauteur totale en mm: <input type="text" class="form-control" data-bind="value: $root.results.height">
            <span data-bind="text:$root.range.height.left"></span> - <span data-bind="text:$root.range.height.right"></span>
          </label>
        </div>
      </div>
    </div>
    <br />
    <button id="add-to-cart" data-bind="click:addToCart" type="button" class="btn btn-primary pull-right">Add to cart</button>

    <!-- Modal -->
    <div class="modal fade" id="add-to-cart-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Vous venez d'ajouter à votre panier : </h4>
          </div>
          <div class="modal-body" data-bind='with: $root.product'>
               <table>
                 <tr>
                    <td>Titre</td><td data-bind="text:title"></td>
                 </tr>
                 <tr>
                   <td>Matière</td><td data-bind="text:material"></td>
                 </tr>
                 <tr>
                   <td>Coloris</td><td data-bind="text:color"></td>
                 </tr>
                 <tr>
                   <td>Coloris side</td><td data-bind="text:color_side"></td>
                 </tr>
                 <tr>
                   <td>Type</td><td data-bind="text:mode"></td>
                 </tr>
                 <tr>
                   <td>Largeur</td><td data-bind="text:width"></td>
                 </tr>
                 <tr>
                   <td>Hauteur</td><td data-bind="text:height"></td>
                 </tr>
                 <tr>
                   <td>Prix</td><td data-bind="text:price"></td>
                 </tr>
               </table>
          </div>
          <div class="modal-footer">
            <button type="button" id='reload' class="btn btn-default pull-left" data-dismiss="modal">Continuer le shopping</button>
            <button type="button" data-bind="click:showCart" class="btn btn-primary">Afficher le panier</button>
          </div>
        </div><!-- /.modal-content end-->
      </div><!-- /.modal-dialog end-->
    </div><!-- /.modal -->
  </div>

<% content_for :custom_right_side_bar do %>
    <div class="bloc" style="line-height: 30px">
      <div class="bloc-content" id="price-total" style="min-height: 30px;padding-left: 30px">
        <table>
          <tr>
            <td>Matière</td><td data-bind="text:results.matiere"></td>
          </tr>
          <tr>
            <td>Coloris</td><td data-bind="text:results.coloris"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bloc">
      <span class="title">Mon Panier</span>
      <div class="bloc-content" style="padding:10px;text-align: center">
        <div>Produits :  <%= @cart.total_quantity %> </div>
        <div>Montant : <%= number_to_currency(@cart.total_price, unit: "", separator: ",", delimiter: " ") %>€</div>
        <div style="">
          <a href="/show-cart" style="" class="">Afficher panier</a>
        </div>
      </div>
    </div>
<% end %>


<% content_for :body_content do %>
    <%= @response.to_json  %>
<% end %>

<% content_for :js do %>
    <script>
      // $('.image-zoom').elevateZoom();
      var $easyzoom = $('.easyzoom').easyZoom();
      //var api = $easyzoom.data('easyZoom');
      $('#reload').on('click', function(){
         window.document.location.reload();
      });
      $('#price-total>span').text(utilities.numberToEuro(0));
        var rawData = JSON.parse(String.removeChangeLine($('#' + static.pageContentId).text()));

        var priceData = function(data, widths, heights){
            var self = this;
            self.data = data || [];
            self.widths = widths || [];
            self.heights = heights || [];
        };

        var localVM = function(){
            var self = this;
            self.selectType = function(data, event){
                self.results.typeOuverture($(event.target).data('value') || '');
            }

            //self.data = ko.mapping.fromJS(rawData.data);
            self.data = {
                dimension:{
                    width: {
                        value:0,
                        range: {
                            left: 0,
                            right:0
                        }
                    },
                    height:{
                        value:0,
                        range:{
                            left:0,
                            right:0
                        }
                    }
                },
                typesOuverture:[
                    {
                        typeChassis:'fenetre',
                        imageUrl:'/assets/vert.png',
                        value:1,
                        isActive:false,
                        name:'Fixe'
                    },
                    {
                        typeChassis:'fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    }
                ],
                colors:[
                    {
                       name:'Blanc (RAL 9010)',
                       imageUrl:'/assets/white.png',
                       code:'Blanc (RAL 9010)'
                    },
                    {
                        name:'Noir (RAL 9011)',
                        imageUrl:'/assets/irish_oak.jpg',
                        code:'Noir (RAL 9011)'
                    },
                    {
                        name:'Marron (RAL 8019)',
                        imageUrl:'/assets/golden_oak.png',
                        code:'Marron (RAL 8019)'
                    },
                    {
                        name:'Rouge (RAL 3003)',
                        imageUrl:'/assets/chene_fonce.png',
                        code:'Rouge (RAL 3003)'
                    },
                    {
                        name:'Gris anthracite (RAL 7016)',
                        imageUrl:'/assets/acajou.png',
                        code:'Gris anthracite (RAL 7016)'
                    },
                    {
                        name:'Anodisé',
                        imageUrl:'/assets/bleu_acier.png',
                        code:'Anodisé'
                    }
                ],
                typeVitrage:[
                    {
                        title:'Vitrage standard',
                        subtitle:'Composition standard 4/16/4 ou 4/20/4, isolation thermique renforcée, intercalaire warm-edge, Ug1.1, Ac:30DbA',
                        imageUrl:'/assets/MENPVC_VITR_COMPO_STD.jpg',
                        code:'Vitrage standard'
                    },
                    {
                        title:'Vitrage 44 1 face',
                        subtitle:'1 face anti-effraction classe 2, isolation thermique renforcée, intercalaire warm-edge, Ug 1.1',
                        imageUrl:'/assets/MENPVC_VITR_COMPO_441.jpg',
                        code:'Vitrage standard'
                    }
                ],
                decors:[
                    {
                        title:'Claire',
                        subtitle:'Sans décor',
                        imageUrl:'http://www.voletshop.fr/configurateurs/images_listes/MENPVC_VITR_DECO_I_CL.jpg',
                        code:'Claire'
                    },
                    {
                        title:'Imprimé G200',
                        subtitle:'',
                        imageUrl:'http://www.voletshop.fr/configurateurs/images_listes/MENPVC_VITR_DECO_I_G200.jpg',
                        code:'Imprimé G200'
                    }
                ],
                imposteAllegeTypeVitrage:[
                    {
                        title:'Vitrage standard',
                        subtitle:'Composition standard 4/16/4 ou 4/20/4, isolation thermique renforcée, intercalaire warm-edge, Ug1.1, Ac:30DbA',
                        imageUrl:'/assets/MENPVC_VITR_COMPO_STD.jpg',
                        code:'Vitrage standard'
                    },
                    {
                        title:'Vitrage 44 1 face',
                        subtitle:'1 face anti-effraction classe 2, isolation thermique renforcée, intercalaire warm-edge, Ug 1.1',
                        imageUrl:'/assets/MENPVC_VITR_COMPO_441.jpg',
                        code:'Vitrage 44 1 face'
                    },
                    {
                        title:'Vitrage 10/14/4',
                        subtitle:'vitrage acoustique  Ac : 35 DbA, isolation thermique renforcée, intercalaire warm-edge, Ug 1.1',
                        imageUrl:'http://www.voletshop.fr/configurateurs/images_listes/MENPVC_VITR_COMPO_104.jpg',
                        code:'Vitrage 10/14/4'
                    }
                ],
                imposteAllegeDecors:[
                    {
                        title:'Claire',
                        subtitle:'Sans décor',
                        imageUrl:'http://www.voletshop.fr/configurateurs/images_listes/MENPVC_VITR_DECO_I_CL.jpg',
                        code:'Claire'
                    },
                    {
                        title:'Imprimé G200',
                        subtitle:'',
                        imageUrl:'http://www.voletshop.fr/configurateurs/images_listes/MENPVC_VITR_DECO_I_G200.jpg',
                        code:'Imprimé G200'
                    },
                    {
                        title:'Delta clair',
                        subtitle:'',
                        imageUrl:'http://www.voletshop.fr/configurateurs/images_listes/MENPVC_VITR_DECO_I_DEL_CL.jpg',
                        code:'Delta clair'
                    }
                ]
            }
            self.priceData = new priceData();
            self.range = {
                width:{
                    left:ko.observable(0),
                    right:ko.observable(0)
                },
                height:{
                    left:ko.observable(0),
                    right:ko.observable(0)
                }
            }
            //self.changeTracker = new ko.dirtyFlag(self.data, false);

            self.results = { // use this to set default values
                matiere: 'aluminium',
                typeRepose: ko.observable(''),
                gamme:ko.observable(''),
                ventilation:ko.observable('Aucun'),
                habillage:ko.observable('Aucun'),
                coloris: ko.observable(),
                petitbois:ko.observable('Sans petit-bois'),
                nbrPB:ko.observable('Automatique'),
                PBH:ko.observable(),
                PBV:ko.observable(),
                typeVitrage:ko.observable(''),
                decor:ko.observable(''),
                imposteTypeChassis:ko.observable('Aucun'),
                allegeTypeChassis:ko.observable('Aucun'),
                width:ko.observable(0),
                height:ko.observable(0),
                total: ko.observable(0)
            };

            self.product = {
                title:ko.observable(''),
                material:ko.observable(''),
                color:ko.observable('') ,
                color_side:ko.observable(),
                mode:ko.observable(),
                width:ko.observable(),
                height:ko.observable(),
                price:ko.observable()
            };

            ko.computed(function(){
                console.log(ko.mapping.toJSON(self.results));

            });

            self.results.total.subscribe(function(newValue){
                $('#price-total>span').text(utilities.numberToEuro(newValue));
            });


            self.addToCart = function(){
                utilities.post(
                        "/line_items.json",
                        {product_info: ko.mapping.toJS( self.results)},
                        function(data){
                            self.product.title(data.title);
                            self.product.price(utilities.numberToEuro(data.price));
                            self.product.material(data.material);
                            self.product.color(data.color);
                            self.product.color_side(data.color_side);
                            self.product.mode(data.mode);
                            self.product.width(data.width);
                            self.product.height(data.height);
                            utilities.arrayRange(self.priceData.widths, self.range.width);
                            utilities.arrayRange(self.priceData.heights, self.range.height);
                            $('#add-to-cart-success').modal({});
                        },
                        function(){alert('KO')});

            }

            self.showCart = function(){
                window.location.href = '/show-cart';
            }

            ko.computed(function(){
                if(self.results.typeRepose()){
                    utilities.post(
                                "/price",
                                {matiere: 'aluminium', type:self.results.typeProfile() },
                                function(data){
                                    self.priceData = new priceData(utilities.splitStringToArray(data.data), utilities.splitStringToArray(data.widths),utilities.splitStringToArray(data.heights));
                                    utilities.arrayRange(self.priceData.widths, self.range.width);
                                    utilities.arrayRange(self.priceData.heights, self.range.height);
                                },
                                function(){alert('Error')});
                }
             });

           /* ko.computed(function(){
                if(self.results.matiere() && self.results.type()){
                    utilities.post(
                            "/price",
                            {matiere: self.results.matiere(), type: self.results.type()},
                            function(data){
                                self.priceData = new priceData(utilities.splitStringToArray(data.data), utilities.splitStringToArray(data.widths),utilities.splitStringToArray(data.heights));
                                utilities.arrayRange(self.priceData.widths, self.range.width);
                                utilities.arrayRange(self.priceData.heights, self.range.height);
                                console.log('ajax');
                            },
                            function(){alert('KO')});
                }
            });*/

           ko.computed(function(){
                if(self.results.typeRepose() && self.results.width() > 0 && self.results.height() > 0){

                    var i = utilities.b_search(self.priceData.widths, self.results.width());
                    var j = utilities.b_search(self.priceData.heights, self.results.height());
                    if(i != -1 && j != -1){
                        self.results.total(self.priceData.data[(j * self.priceData.widths.length) + i]);
                    }else{
                        self.results.total(0);
                    }
                }
            }).extend({ throttle: 500 });
        }


        var vm =  new localVM();
        ko.applyBindings(vm, document.getElementById('main'));

    </script>
<% end %>