<% provide(:title,'Configurateur') %>

<div id="configurator">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"> Store </h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <div style="background-color: yellow;width:500px;height:200px;"></div>
        </li>
        <li class="list-group-item">
          <label>Lame :</label><br/>
          <ul>
            <li>
              <label>
                <input type="radio" name="type_chassis" value="deux_vantaux" data-bind="checked: $root.results.typeChassis">
                <span>Lame pleine</span>
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="type_chassis" value="trois_vantaux" data-bind="checked: $root.results.typeChassis">
                <span>Lame Microperforet</span>
              </label>
            </li>
            <li>
              <label>
                <input type="radio" name="type_chassis" value="quatre_vantaux" data-bind="checked: $root.results.typeChassis">
                <span>Lame Cobra</span>
              </label>
            </li>
          </ul> <br/>
        </li>
        <li class="list-group-item">
          <label>Dimension</label><br/>
          <div style="">
            <div style="float:left;background-color: yellow;width:100px;height:200px;"></div>
            <div style="float:left;background-color: blue;width:100px;height:200px;"></div>
          </div>
          <br style="clear:both"/>
          <div class="form-group">
            <label class="col-xs-4 text-right control-label" >Largeur</label>
            <div class="col-xs-3">
              <input name="largeur" class="form-control input-sm" data-bind="value: $root.results.largeur">
            </div>
          </div><br/>
          <div class="form-group">
            <label class="col-xs-4 text-right control-label" >Hauteur</label>
            <div class="col-xs-3">
              <input name="hauteur" class="form-control input-sm" data-bind="value: $root.results.hauteur">
            </div>
          </div>   <br/>
          <div class="form-group">
            <label class="col-xs-4 text-right control-label" >Hauteur de lame cobra</label>
            <div class="col-xs-3">
              <input name="hauteur" class="form-control input-sm" data-bind="value: $root.results.hauteur">
            </div>
          </div>      <br/>
          <div class="form-group">
            <label class="col-xs-4 text-right control-label" >Hauteur de lame microperforet</label>
            <div class="col-xs-3">
              <input name="hauteur" class="form-control input-sm" data-bind="value: $root.results.hauteur">
            </div>
          </div>
          <br/>
        </li>
        <li class="list-group-item">
          <label>Options</label><br/>
          <ul>
            <li>
              <label>
                <input type="checkbox" name="type_chassis" value="deux_vantaux" data-bind="checked: $root.results.typeChassis">
                <span>Boitre à clé extérieur 45€ HT</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="type_chassis" value="trois_vantaux" data-bind="checked: $root.results.typeChassis">
                <span>Bouton poussoir 18€ HT</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="type_chassis" value="quatre_vantaux" data-bind="checked: $root.results.typeChassis">
                <span>Télécommande 231€ HT</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" name="type_chassis" value="quatre_vantaux" data-bind="checked: $root.results.typeChassis">
                <span>Sabot viro 216€ HT</span>
              </label>
            </li>
          </ul> <br/>
        </li>
      </ul>
    </div>

  </div>
  <br />
  <button id="add-to-cart" data-bind="click:addToCart" type="button" class="btn btn-primary pull-right">Add to cart</button>

  <!-- Modal -->
  <div class="modal fade" id="add-to-cart-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Vous venez d'ajouter à votre panier : </h4>
        </div>
        <div class="modal-body" data-bind='with: $root.product'>
          <table>
            <tr>
              <td>Titre</td><td data-bind="text:title"></td>
            </tr>
            <tr>
              <td>Matière</td><td data-bind="text:material"></td>
            </tr>
            <tr>
              <td>Coloris</td><td data-bind="text:color"></td>
            </tr>
            <tr>
              <td>Coloris side</td><td data-bind="text:color_side"></td>
            </tr>
            <tr>
              <td>Type</td><td data-bind="text:mode"></td>
            </tr>
            <tr>
              <td>Largeur</td><td data-bind="text:width"></td>
            </tr>
            <tr>
              <td>Hauteur</td><td data-bind="text:height"></td>
            </tr>
            <tr>
              <td>Prix</td><td data-bind="text:price"></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" id='reload' class="btn btn-default pull-left" data-dismiss="modal">Continuer le shopping</button>
          <button type="button" data-bind="click:showCart" class="btn btn-primary">Afficher le panier</button>
        </div>
      </div><!-- /.modal-content end-->
    </div><!-- /.modal-dialog end-->
  </div><!-- /.modal -->
</div>

<% content_for :custom_right_side_bar do %>
    <div class="bloc" style="line-height: 30px">
      <span class="title">Montant</span>
      <div class="bloc-content" id="price-total" style="min-height: 30px;padding-left: 30px">
        Total : <span data-bind="textAsCurrency: results.total"></span>
      </div>
    </div>
<% end %>


<% content_for :body_content do %>
    <%= @response.to_json  %>
<% end %>

<% content_for :js do %>
    <script>
        // $('.image-zoom').elevateZoom();
        var $easyzoom = $('.easyzoom').easyZoom();
        //var api = $easyzoom.data('easyZoom');
        $('#reload').on('click', function(){
            window.document.location.reload();
        });
        $('#price-total>span').text(utilities.numberToEuro(0));
        var rawData = JSON.parse(String.removeChangeLine($('#' + static.pageContentId).text()));

        var priceData = function(data, widths, heights){
            var self = this;
            self.data = data || [];
            self.widths = widths || [];
            self.heights = heights || [];
        };

        var localVM = function(){
            var self = this;
            self.selectType = function(data, event){
                self.results.typeOuverture($(event.target).data('value') || '');
            }

            //self.data = ko.mapping.fromJS(rawData.data);
            self.data = {
                dimension:{
                    width: {
                        value:0,
                        range: {
                            left: 0,
                            right:0
                        }
                    },
                    height:{
                        value:0,
                        range:{
                            left:0,
                            right:0
                        }
                    }
                },
                typesOuverture:[
                    {
                        typeChassis:'fenetre',
                        imageUrl:'/assets/vert.png',
                        value:1,
                        isActive:false,
                        name:'Fixe'
                    },
                    {
                        typeChassis:'fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    },
                    {
                        typeChassis:'porte_fenetre',
                        imageUrl:'/assets/rouge.png',
                        value:2,
                        isActive:false,
                        name:'Soufflet'
                    }
                ],
                colors:[
                    {
                        name:'Blanc',
                        imageUrl:'/assets/white.png',
                        code:'blanc'
                    },
                    {
                        name:'Irish Oak',
                        imageUrl:'/assets/irish_oak.jpg',
                        code:'irish Oak'
                    },
                    {
                        name:'Golden Oak',
                        imageUrl:'/assets/golden_oak.png',
                        code:'golden oak'
                    },
                    {
                        name:'Chêne foncé',
                        imageUrl:'/assets/chene_fonce.png',
                        code:'chêne foncé'
                    },
                    {
                        name:'Acajou',
                        imageUrl:'/assets/acajou.png',
                        code:'acajou'
                    },
                    {
                        name:'Bleu acier grainé',
                        imageUrl:'/assets/bleu_acier.png',
                        code:'bleu acier grainé'
                    },
                    {
                        name:'Gris anthracite grainé',
                        imageUrl:'/assets/gris_fonce.png',
                        code:'gris anthracite grainé'
                    },
                    {
                        name:'Rouge carmin',
                        imageUrl:'/assets/rouge.png',
                        code:'rouge carmin'
                    },
                    {
                        name:'Vert mousse',
                        imageUrl:'/assets/rouge.png',
                        code:'vert mousse'
                    }
                ]
            }
            self.priceData = new priceData();
            self.range = {
                width:{
                    left:ko.observable(0),
                    right:ko.observable(0)
                },
                height:{
                    left:ko.observable(0),
                    right:ko.observable(0)
                }
            }
            //self.changeTracker = new ko.dirtyFlag(self.data, false);

            self.results = { // use this to set default values
                largeur:ko.observable(0),
                typeRepose: ko.observable(''),
                typeChassis: ko.observable(''),
                coloris: ko.observable(),
                width:ko.observable(0),
                height:ko.observable(0),
                total: ko.observable(0)
            };

            self.product = {
                title:ko.observable(''),
                material:ko.observable(''),
                color:ko.observable('') ,
                color_side:ko.observable(),
                mode:ko.observable(),
                width:ko.observable(),
                height:ko.observable(),
                price:ko.observable()
            };

            ko.computed(function(){
                console.log(ko.mapping.toJSON(self.results));

            });

            self.results.total.subscribe(function(newValue){
                $('#price-total>span').text(utilities.numberToEuro(newValue));
            });


            self.addToCart = function(){
                utilities.post(
                        "/line_items.json",
                        {product_info: ko.mapping.toJS( self.results)},
                        function(data){
                            self.product.title(data.title);
                            self.product.price(utilities.numberToEuro(data.price));
                            self.product.material(data.material);
                            self.product.color(data.color);
                            self.product.color_side(data.color_side);
                            self.product.mode(data.mode);
                            self.product.width(data.width);
                            self.product.height(data.height);
                            utilities.arrayRange(self.priceData.widths, self.range.width);
                            utilities.arrayRange(self.priceData.heights, self.range.height);
                            $('#add-to-cart-success').modal({});
                        },
                        function(){alert('KO')});

            }

            self.showCart = function(){
                window.location.href = '/show-cart';
            }

            ko.computed(function(){
                if(self.results.typeRepose()){
                    utilities.post(
                            "/price",
                            {matiere: 'aluminium', type:self.results.typeProfile() },
                            function(data){
                                self.priceData = new priceData(utilities.splitStringToArray(data.data), utilities.splitStringToArray(data.widths),utilities.splitStringToArray(data.heights));
                                utilities.arrayRange(self.priceData.widths, self.range.width);
                                utilities.arrayRange(self.priceData.heights, self.range.height);
                            },
                            function(){alert('Error')});
                }
            });

            /* ko.computed(function(){
             if(self.results.matiere() && self.results.type()){
             utilities.post(
             "/price",
             {matiere: self.results.matiere(), type: self.results.type()},
             function(data){
             self.priceData = new priceData(utilities.splitStringToArray(data.data), utilities.splitStringToArray(data.widths),utilities.splitStringToArray(data.heights));
             utilities.arrayRange(self.priceData.widths, self.range.width);
             utilities.arrayRange(self.priceData.heights, self.range.height);
             console.log('ajax');
             },
             function(){alert('KO')});
             }
             });*/

            ko.computed(function(){
                if(self.results.typeRepose() && self.results.width() > 0 && self.results.height() > 0){

                    var i = utilities.b_search(self.priceData.widths, self.results.width());
                    var j = utilities.b_search(self.priceData.heights, self.results.height());
                    if(i != -1 && j != -1){
                        self.results.total(self.priceData.data[(j * self.priceData.widths.length) + i]);
                    }else{
                        self.results.total(0);
                    }
                }
            }).extend({ throttle: 500 });
        }


        var vm =  new localVM();
        ko.applyBindings(vm, document.getElementById('configurator'));

    </script>
<% end %>