<% provide(:title,'Configurateur') %>

  <div id="configurator">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" data-bind="with:data.matiere">  <!-- Matiere -->
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#matiere">
              Type de pose
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse in"  id="matiere">
          <div class="panel-body">
          <!--<div class="panel-body" data-bind="foreach:$data">-->
            <div style="float:left">
                 <img class="image-zoom" src="/assets/pvc-pose-renovation.png" data-zoom-image="/assets/pvc-pose-renovation.png" width="200px" height="250px">
            </div>
            <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
              <label><input type="radio" name="type_repose" value="renovation"/>&nbsp;Pose en renovation sur dormant existant</label>
            </div>
            <hr>
            <div style="float:left">
              <img class="image-zoom" src="/assets/pvc-pose-neuf-titanium.png" data-zoom-image="/assets/pvc-pose-neuf-titanium.png" width="200px" height="250px">
            </div>
            <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
              <label><input type="radio" name="type_repose" value="neuf"/>&nbsp;Pose neuf en dormant 60mm</label>
            </div>

            <!--<label>
              <input type="radio" name="matiere" data-bind="checked: $root.results.matiere, value:id">
              <span data-bind="text:name"></span>
            </label><br>-->
          </div>
        </div>
      </div>

      <div class="panel panel-default" data-bind="with:data.coloris">  <!-- Coloris -->
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#coloris">
              Ouverture
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse"  id="coloris">
          <div class="panel-body" data-bind="foreach:$data">
            <label>
              <input type="radio" name="coloris" data-bind="checked: $root.results.coloris, value:id">
              <img class="bordered black" data-bind="attr:{src:image_url,width:47, height:47}"/>
              <span data-bind="text:name"></span>
            </label><br>
          </div>
          <div class="panel-body">
            <label>
              <input type="radio" name="coloris_side" data-bind="checked: $root.results.coloris_side, value:1">
              <span>Votre choix de coloris à l'extérieur et à l'intérieur</span>
            </label><br>
            <label>
              <input type="radio" name="coloris_side" data-bind="checked: $root.results.coloris_side, value:2">
              <span>Votre choix de coloris à l'extérieur, blanc à l'intérieur</span>
            </label><br>
          </div>
        </div>
      </div>

      <div class="panel panel-default" data-bind="with:data.type">  <!-- Type -->
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#type">
              Type
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse"  id="type">
          <div class="panel-body" data-bind="foreach:$root.data.type">
            <label>
              <input type="radio" name="type" data-bind="checked: $root.results.type, value:id">
              <img class="bordered black" data-bind="attr:{src:image_url,width:47, height:47}"/>
              <span data-bind="text:name"></span>
            </label><br>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#dimension">
              Dimension
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="dimension">
          <label class="col-xs-4">Largeur totale en mm: <input type="text" class="form-control" data-bind="value: $root.data.dimension.width.value">
            <span data-bind="text:$root.range.width.left"></span> - <span data-bind="text:$root.range.width.right"></span>
          </label>
          <label class="col-xs-4">Hauteur totale en mm: <input type="text" class="form-control" data-bind="value: $root.data.dimension.height.value">
            <span data-bind="text:$root.range.height.left"></span> - <span data-bind="text:$root.range.height.right"></span>
          </label>
        </div>
      </div>
    </div>

    <button id="add-to-cart" data-bind="click:addToCart" type="button" class="btn btn-primary pull-right">Add to cart</button>

    <!-- Modal -->
    <div class="modal fade" id="add-to-cart-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Vous venez d'ajouter à votre panier : </h4>
          </div>
          <div class="modal-body" data-bind='with: $root.product'>
               <table>
                 <tr>
                    <td>Titre</td><td data-bind="text:title"></td>
                 </tr>
                 <tr>
                   <td>Matière</td><td data-bind="text:material"></td>
                 </tr>
                 <tr>
                   <td>Coloris</td><td data-bind="text:color"></td>
                 </tr>
                 <tr>
                   <td>Coloris side</td><td data-bind="text:color_side"></td>
                 </tr>
                 <tr>
                   <td>Type</td><td data-bind="text:mode"></td>
                 </tr>
                 <tr>
                   <td>Largeur</td><td data-bind="text:width"></td>
                 </tr>
                 <tr>
                   <td>Hauteur</td><td data-bind="text:height"></td>
                 </tr>
                 <tr>
                   <td>Prix</td><td data-bind="text:price"></td>
                 </tr>
               </table>
          </div>
          <div class="modal-footer">
            <button type="button" id='reload' class="btn btn-default pull-left" data-dismiss="modal">Continuer le shopping</button>
            <button type="button" data-bind="click:showCart" class="btn btn-primary">Afficher le panier</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



  </div>

<% content_for :custom_right_side_bar do %>
    <div class="bloc" style="line-height: 30px">
      <span class="title">Montant</span>
      <div class="bloc-content" id="price-total" style="min-height: 30px;padding-left: 30px">
        Total : <span data-bind="textAsCurrency: results.total"></span>
      </div>
    </div>
<% end %>


<% content_for :body_content do %>
    <%= @response.to_json  %>
<% end %>

<% content_for :js do %>
    <script>
       $('.image-zoom').elevateZoom();
      $('#reload').on('click', function(){
         window.document.location.reload();
      })
      $('#price-total>span').text(utilities.numberToEuro(0));
        var rawData = JSON.parse(String.removeChangeLine($('#' + static.pageContentId).text()));

        var priceData = function(data, widths, heights){
            var self = this;
            self.data = data || [];
            self.widths = widths || [];
            self.heights = heights || [];
        };

        var localVM = function(){
            var self = this;

            self.data = ko.mapping.fromJS(rawData.data);

            self.priceData = new priceData();
            self.range = {
                width:{
                    left:ko.observable(0),
                    right:ko.observable(0)
                },
                height:{
                    left:ko.observable(0),
                    right:ko.observable(0)
                }
            }
            //self.changeTracker = new ko.dirtyFlag(self.data, false);

            self.results = { // use this to set default values
                matiere: ko.observable('9'),
                coloris: ko.observable(),
                coloris_side: ko.observable('1'),
                type:ko.observable(),
                width:self.data.dimension.width.value,
                height: self.data.dimension.height.value,
                total: ko.observable(0)
            };

            self.product = {
                title:ko.observable(''),
                material:ko.observable(''),
                color:ko.observable('') ,
                color_side:ko.observable(),
                mode:ko.observable(),
                width:ko.observable(),
                height:ko.observable(),
                price:ko.observable()
            };

            self.results.total.subscribe(function(newValue){
                $('#price-total>span').text(utilities.numberToEuro(newValue));
            });


            self.addToCart = function(){
                utilities.post(
                        "/line_items.json",
                        {product_info: ko.mapping.toJS( self.results)},
                        function(data){
                            self.product.title(data.title);
                            self.product.price(utilities.numberToEuro(data.price));
                            self.product.material(data.material);
                            self.product.color(data.color);
                            self.product.color_side(data.color_side);
                            self.product.mode(data.mode);
                            self.product.width(data.width);
                            self.product.height(data.height);
                            utilities.arrayRange(self.priceData.widths, self.range.width);
                            utilities.arrayRange(self.priceData.heights, self.range.height);
                            $('#add-to-cart-success').modal({});
                        },
                        function(){alert('KO')});

            }

            self.showCart = function(){
                window.location.href = '/show-cart';
            }

            ko.computed(function(){
                if(self.results.matiere() && self.results.type()){
                    utilities.post(
                            "/price",
                            {matiere: self.results.matiere(), type: self.results.type()},
                            function(data){
                                self.priceData = new priceData(utilities.splitStringToArray(data.data), utilities.splitStringToArray(data.widths),utilities.splitStringToArray(data.heights));
                                utilities.arrayRange(self.priceData.widths, self.range.width);
                                utilities.arrayRange(self.priceData.heights, self.range.height);
                                console.log('ajax');
                            },
                            function(){alert('KO')});
                }
            });

            ko.computed(function(){
                if(self.results.matiere() && self.results.coloris() && self.results.coloris_side() && self.results.type() && self.results.width() > 0 && self.results.height() > 0){
                    console.log('dd');
                    var i = utilities.b_search(self.priceData.widths, self.results.width());
                    var j = utilities.b_search(self.priceData.heights, self.results.height());
                    if(i != -1 && j != -1){
                        self.results.total(self.priceData.data[(j * self.priceData.widths.length) + i]);
                    }else{
                        self.results.total(0);
                    }
                }
            }).extend({ throttle: 500 });
        }


        var vm =  new localVM();
        ko.applyBindings(vm, document.getElementById('configurator'));

    </script>
<% end %>