<% provide(:title,'Configurateur') %>
  <div id="configurator">
    <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#profile">
            Composition et coloris
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse in"  id="profile">
        <div class="panel-body">
          <label>Lames de tablier</label> <br/><br/>
          <div class="" style="float:left">
              <img src="/assets/lame-Alu.png"  height="230px">
          </div>
          <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
            <label><input type="radio" name="type_repose" value="Tablier Aluminium" data-bind="checked: $root.results.lames" />&nbsp;Tablier Aluminium</label>
          </div>
          <hr>
          <div class="" style="float:left">
              <img src="/assets/lame-pvc.png" height="230px">
          </div>
          <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
            <label><input type="radio" name="type_repose" value="Tablier PVC" data-bind="checked: $root.results.lames"/>&nbsp;Tablier PVC</label>
          </div>
        </div>
        <div class="panel-body">
          <div style="float:left;margin-right: 100px">
          <label>Coloris de tablier</label><br/><br/>
          <ul style="float:left">
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_BL.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_tablier" value="Blanc" data-bind="checked: $root.results.colorTablier">
                <span>Blanc</span>
              </label>
            </li>
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_CR.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_tablier" value="Crème" data-bind="checked: $root.results.colorTablier">
                <span>Crème</span>
              </label>
            </li>
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_MR.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_tablier" value="Marron" data-bind="checked: $root.results.colorTablier">
                <span>Marron</span>
              </label>
            </li>
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_AN.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_tablier" value="Alu naturel" data-bind="checked: $root.results.colorTablier">
                <span>Alu naturel</span>
              </label>
            </li>
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_NO.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_tablier" value="Noire" data-bind="checked: $root.results.colorTablier">
                <span>Noire</span>
              </label>
            </li>
          </ul>
          </div>
          <div style="float:left">
          <label>Coloris coffre, coulisses et lame finale</label><br/><br/>
          <ul style="float:left">
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_BL.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_coffre" value="Blanc" data-bind="checked: $root.results.colorCoffreCoulissesLameFinale">
                <span>Blanc</span>
              </label>
            </li>
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_CR.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_coffre" value="Crème" data-bind="checked: $root.results.colorCoffreCoulissesLameFinale">
                <span>Crème</span>
              </label>
            </li>
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_MR.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_coffre" value="Marron" data-bind="checked: $root.results.colorCoffreCoulissesLameFinale">
                <span>Marron</span>
              </label>
            </li>
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_AN.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_coffre" value="Alu naturel" data-bind="checked: $root.results.colorCoffreCoulissesLameFinale">
                <span>Alu naturel</span>
              </label>
            </li>
            <li>
              <label>
                <img src="/assets/RENO_COUL_TAB_NO.jpg" style="border:solid 1px #DDDDDD"/>
                <input type="radio" name="color_coffre" value="Noire" data-bind="checked: $root.results.colorCoffreCoulissesLameFinale">
                <span>Noire</span>
              </label>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
      <div class="panel panel-default"> <!--Dimension-->
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#coloris">
              Dimension
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse"  id="coloris">
          <div class="panel-body">
            <label>Position du coffre</label> <br/><br/>
            <div class="" style="float:left">
              <img src="/assets/RENO_POSE_P3.jpg"  height="230px">
            </div>
            <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
              <label><input type="radio" name="position_coffre" value="Sous le linteau pan coupé à l\'extérieur" data-bind="checked: $root.results.positionCoffre" />&nbsp;Sous le linteau pan coupé à l'extérieur</label>
            </div>
            <hr>
            <div class="" style="float:left">
              <img src="/assets/RENO_POSE_P2.jpg" height="230px">
            </div>
            <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
              <label><input type="radio" name="position_coffre" value="Sous le linteau pan coupé à l\'intérieur" data-bind="checked: $root.results.positionCoffre"/>&nbsp;Sous le linteau pan coupé à l'intérieur</label>
            </div>
            <hr>
            <div class="" style="float:left">
              <img src="/assets/RENO_POSE_P1.jpg" height="230px">
            </div>
            <div style="margin-left:250px;font-weight:bold;font-size:20px;line-height:250px;">
              <label><input type="radio" name="position_coffre" value="Au dessus du linteau" data-bind="checked: $root.results.positionCoffre"/>&nbsp;Au dessus du linteau</label>
            </div>
          </div>
          <div class="panel-body">
            <label class="col-xs-4">Largeur en mm: <input type="text" class="form-control" data-bind="value: $root.results.width">
              pvc:700 - 1800
              alu:700 - 3500
              <span data-bind="text:$root.range.width.left"></span> - <span data-bind="text:$root.range.width.right"></span>
            </label>
            <label class="col-xs-4">Hauteur en mm: <input type="text" class="form-control" data-bind="value: $root.results.height">
            </label>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#ouverture">
              Manoeuvre
            </a>
          </h4>
        </div>
       <div class="panel-collapse collapse"  id="ouverture">
         <br/>
         <ul>
           <li data-bind="(if:$root.results.largeur() <= 5000)">
             <label>
               <input type="radio" name="type_chassis" value="Manuel" data-bind="checked: $root.results.manoeuvre">
               <span>Manuel</span>
             </label>
           </li>
           <li>
             <label>
               <input type="radio" name="type_chassis" value="Motorisé filaire" data-bind="checked: $root.results.manoeuvre">
               <span>Motorisé filaire</span>
             </label>
           </li>
           <li>
             <label>
               <input type="radio" name="type_chassis" value="Motorisé télécommande" data-bind="checked: $root.results.manoeuvre">
               <span>Motorisé télécommande</span>
             </label>
           </li>
         </ul>
       </div>
     </div>
    </div>
    <br />
    <button id="add-to-cart" data-bind="click:addToCart" type="button" class="btn btn-primary pull-right">Add to cart</button>

    <!-- Modal -->
    <div class="modal fade" id="add-to-cart-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Vous venez d'ajouter à votre panier : </h4>
          </div>
          <div class="modal-body" data-bind='with: $root.product'>
               <table>
                 <tr>
                    <td>Titre</td><td data-bind="text:title"></td>
                 </tr>
                 <tr>
                   <td>Matière</td><td data-bind="text:material"></td>
                 </tr>
                 <tr>
                   <td>Coloris</td><td data-bind="text:color"></td>
                 </tr>
                 <tr>
                   <td>Coloris side</td><td data-bind="text:color_side"></td>
                 </tr>
                 <tr>
                   <td>Type</td><td data-bind="text:mode"></td>
                 </tr>
                 <tr>
                   <td>Largeur</td><td data-bind="text:width"></td>
                 </tr>
                 <tr>
                   <td>Hauteur</td><td data-bind="text:height"></td>
                 </tr>
                 <tr>
                   <td>Prix</td><td data-bind="text:price"></td>
                 </tr>
               </table>
          </div>
          <div class="modal-footer">
            <button type="button" id='reload' class="btn btn-default pull-left" data-dismiss="modal">Continuer le shopping</button>
            <button type="button" data-bind="click:showCart" class="btn btn-primary">Afficher le panier</button>
          </div>
        </div><!-- /.modal-content end-->
      </div><!-- /.modal-dialog end-->
    </div><!-- /.modal -->
  </div>

<% content_for :custom_right_side_bar do %>
    <div class="bloc" style="line-height: 30px">
      <span class="title">Montant</span>
      <div class="bloc-content" id="price-total" style="min-height: 30px;padding-left: 30px">
        Total : <span data-bind="textAsCurrency: results.total"></span>
      </div>
    </div>
    <div class="bloc">
      <span class="title">Mon Panier</span>
      <div class="bloc-content" style="padding:10px;text-align: center">
        <div>Produits :  <%= @cart.total_quantity %> </div>
        <div>Montant : <%= number_to_currency(@cart.total_price, unit: "", separator: ",", delimiter: " ") %>€</div>
        <div style="">
          <a href="/show-cart" style="" class="">Afficher panier</a>
        </div>
      </div>
    </div>
<% end %>


<% content_for :body_content do %>
    <%= @response.to_json  %>
<% end %>

<% content_for :js do %>
    <script>
      // $('.image-zoom').elevateZoom();
      var $easyzoom = $('.easyzoom').easyZoom();
      //var api = $easyzoom.data('easyZoom');
      $('#reload').on('click', function(){
         window.document.location.reload();
      });
      $('#price-total>span').text(utilities.numberToEuro(0));
        var rawData = JSON.parse(String.removeChangeLine($('#' + static.pageContentId).text()));

        var priceData = function(data, widths, heights){
            var self = this;
            self.data = data || [];
            self.widths = widths || [];
            self.heights = heights || [];
        };

        var localVM = function(){
            var self = this;
            self.selectType = function(data, event){
                self.results.typeOuverture($(event.target).data('value') || '');
            }

            //self.data = ko.mapping.fromJS(rawData.data);
            self.data = {
                dimension:{
                    width: {
                        value:0,
                        range: {
                            left: 0,
                            right:0
                        }
                    },
                    height:{
                        value:0,
                        range:{
                            left:0,
                            right:0
                        }
                    }
                }
            }
            self.priceData = new priceData();
            self.range = {
                width:{
                    left:ko.observable(0),
                    right:ko.observable(0)
                },
                height:{
                    left:ko.observable(0),
                    right:ko.observable(0)
                }
            }
            //self.changeTracker = new ko.dirtyFlag(self.data, false);

            self.results = { // use this to set default values
                lames:ko.observable(''),
                colorTablier: ko.observable(''),
                colorCoffreCoulissesLameFinale: ko.observable(''),
                positionCoffre: ko.observable(),
                width:ko.observable(0),
                height:ko.observable(0),
                manoeuvre:ko.observable(),
                total: ko.observable(0)
            };

            self.product = {
                title:ko.observable(''),
                material:ko.observable(''),
                color:ko.observable('') ,
                color_side:ko.observable(),
                mode:ko.observable(),
                width:ko.observable(),
                height:ko.observable(),
                price:ko.observable()
            };

            ko.computed(function(){
                console.log(ko.mapping.toJSON(self.results));

            });

            self.results.total.subscribe(function(newValue){
                $('#price-total>span').text(utilities.numberToEuro(newValue));
            });


            self.addToCart = function(){
                utilities.post(
                        "/line_items.json",
                        {product_info: ko.mapping.toJS( self.results)},
                        function(data){
                            self.product.title(data.title);
                            self.product.price(utilities.numberToEuro(data.price));
                            self.product.material(data.material);
                            self.product.color(data.color);
                            self.product.color_side(data.color_side);
                            self.product.mode(data.mode);
                            self.product.width(data.width);
                            self.product.height(data.height);
                            utilities.arrayRange(self.priceData.widths, self.range.width);
                            utilities.arrayRange(self.priceData.heights, self.range.height);
                            $('#add-to-cart-success').modal({});
                        },
                        function(){alert('KO')});

            }

            self.showCart = function(){
                window.location.href = '/show-cart';
            }

            ko.computed(function(){
                if(self.results.lames()){
                    utilities.post(
                                "/price",
                                {matiere: 'aluminium', type:self.results.colorTablier() },
                                function(data){
                                    self.priceData = new priceData(utilities.splitStringToArray(data.data), utilities.splitStringToArray(data.widths),utilities.splitStringToArray(data.heights));
                                    utilities.arrayRange(self.priceData.widths, self.range.width);
                                    utilities.arrayRange(self.priceData.heights, self.range.height);
                                },
                                function(){alert('Error')});
                }
             });

           /* ko.computed(function(){
                if(self.results.matiere() && self.results.type()){
                    utilities.post(
                            "/price",
                            {matiere: self.results.matiere(), type: self.results.type()},
                            function(data){
                                self.priceData = new priceData(utilities.splitStringToArray(data.data), utilities.splitStringToArray(data.widths),utilities.splitStringToArray(data.heights));
                                utilities.arrayRange(self.priceData.widths, self.range.width);
                                utilities.arrayRange(self.priceData.heights, self.range.height);
                                console.log('ajax');
                            },
                            function(){alert('KO')});
                }
            });*/

           ko.computed(function(){
                if(self.results.lames() && self.results.width() > 0 && self.results.height() > 0){

                    var i = utilities.b_search(self.priceData.widths, self.results.width());
                    var j = utilities.b_search(self.priceData.heights, self.results.height());
                    if(i != -1 && j != -1){
                        self.results.total(self.priceData.data[(j * self.priceData.widths.length) + i]);
                    }else{
                        self.results.total(0);
                    }
                }
            }).extend({ throttle: 500 });
        }


        var vm =  new localVM();
        ko.applyBindings(vm, document.getElementById('configurator'));

    </script>
<% end %>