<div id="footer">
  <div class="contact">
    <div style="font-weight: bold">UN SERVICE CLIENT À VOTRE ÉCOUTE</div>
    <div>01 40 11 59 51</div>
    <div>Du Lundi au Vendredi</div>
    <div>de 9h00 à 12h30</div>
    <div>et de 13h30 à 18h30</div>
    <br>
    <div><a class="contact" href="/message/new">Contactez nous par email</a></div>
    <br>
    <div style="font-weight: bold">Pmac Fermeture</div>
    <div>93400 Saint Ouen (FRANCE)</div>
    </div>
  <div class="partenaire" style="margin-top:-20px;">
    <img src="/assets/footer.png" width="970px">
    <!--<ul class="first">
      <li><img src="/assets/rehau.png"></li>
      <li><img src="/assets/Faille.png"></li>
      <li><img src="/assets/siegnia-aubi.jpg"></li>
    </ul>
    <ul class="second">
      <li><img src="/assets/tormax.png"></li>
      <li><img style="width:100px !important;margin-top:20px" src="/assets/10ans.jpg"></li>
      <li><img src="/assets/vitrage-certifie.jpg"></li>
      <li><img src="/assets/hoppe.jpg"></li>
    </ul>-->
  </div>
  <div style="width:1000px;float:right;text-align: right;margin-top: 50px;">Copyright ©2005-2014 PMAC Fermeture</div>
</div>



<!--
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">

    <p class="pull-left">Built by AppForces</p>
  </div>
</div>-->
